@page
@model EmployeeRazorPagesApp.Pages.NotoundModel
@{
    ViewData["Title"] = "Notound";
}

<h1> The Resource is Not Found </h1>

<a asp-page="/EmployeeDetails/Index" class="btn btn-primary">
    Back to Home

</a>